.guestlist-page-container {
    background-color: black; /* Set background color for the entire page */
}
.guestlist-box {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* Set background color to white with 20% opacity */
    /* padding: 20px; */
    border-radius: 8px;
    margin-bottom: 20px;
    /*  : 20px; */
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 4%; */
    color: rgb(183, 169, 90); /* Set text color */
}
.guestlist-box-image {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    /*  : 20px; */
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%; /* Reduced padding */
    padding-right: 4%; /* Reduced padding */
    padding-left: 4%; /* Reduced padding */
    height: 100%; /* Adjusted height */
}

.guestlist-box img {
    max-width: 100%; /* Ensure the image doesn't exceed the box width */
    height: auto;
    margin-bottom: 20px; /* Added margin for spacing */
}

/* General Styling */
h1 {
    margin-bottom: 20px;
}

.guestlist-form-group {
    /* margin-bottom: 0.2rem; */
}

.guestlist-form-control {
    background-color: #171616;
    color: white;
    border: 0.5px solid white;
    font-weight: 100;
    font-size: 13px;
    padding: 5%;
}

.guestlist-form-control::placeholder {
    color: white;
}

.guestlist-form-submit {
    background-color: rgb(183, 169, 90);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guestlist-form-submit:hover {
    background-color: rgb(149, 137, 67);
}

.guestlist-form-submit:active {
    background-color: rgba(
        255,
        255,
        255,
        0.2
    ); /* Darker background when clicked */
    transform: scale(
        0.98
    ); /* Slightly smaller scale to mimic a pressed effect */
}

.guestlist-form-control:focus {
    background-color: #171616; /* Replace with your desired background color */
    color: white; /* Replace with your desired font color */
    outline: none; /* Optional: remove the default focus outline */
    border-color: rgb(149, 137, 67);
}

@media screen and (max-width: 780px) {
    .guestlist-page-container {
        padding-top: 15%;
    }
}
