/* App.css */
.navbar {
    background-color: #000; /* Black background */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Keep navbar fixed at the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
    min-height: 10%;
}

.navbar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link {
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 18px;
}

.nav-link.active {
    color: gold;
    font-family: "Rock Salt", cursive;
    font-size: 14px;
}

/* Hover effect */
.nav-link:hover {
    color: gold;
}

/* Logo styling */
.navbar-logo {
    max-height: 80px; /* Adjust size */
    height: auto; /* Ensure height adjusts proportionally */
    object-fit: cover;
}

/* Hide the hamburger menu by default */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: #120f0b;
    width: 25px;
    height: 3px;
    margin: 4px;
    transition: 0.3s ease-in-out;
}

/* Media query for small screens */
@media screen and (max-width: 780px) {
    .navbar {
        height: 15%;
    }
    .nav-links {
        display: none; /* Hide nav links */
        flex-direction: column;
        position: absolute;
        top: 90px; /* Adjust to place below navbar */
        right: 0;
        background-color: #000;
        width: 100%;
        padding: 10px;
        text-align: center;
        transition: 0.5s ease;
    }

    /* Show nav links when menu is active */
    .nav-links.active {
        display: flex;
    }

    /* Show the hamburger menu */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
